---
layout: default
title: Sitemap
---
Sitemap
<ul>
  {% for p in site.pages %}
    <li>
      {% if p.url == '/' %}
        <a href="{{site.baseurl}}/index.html">/index.html</a>
      {% else %}
        <a href="{{site.baseurl}}{{p.url}}">{{p.url}}</a>
      {% endif %}
    </li>
  {% endfor %}

  {% for p in site.posts %}
    <li>
      {% if p.url == '/' %}
        <a href="{{site.baseurl}}/index.html">/index.html</a>
      {% else %}
        <a href="{{site.baseurl}}{{p.url}}">{{p.url}}</a>
      {% endif %}
    </li>
  {% endfor %}

  <li>GDAD</li>
  {% for p in site.gdad %}
    <li>
        <a href="{{site.baseurl}}{{p.url}}">{{p.url}}</a>
    </li>
  {% endfor %}

  <li>APCSP</li>
  {% for p in site.apcsp %}
    <li>
        <a href="{{site.baseurl}}{{p.url}}">{{p.url}}</a>
    </li>
  {% endfor %}

  <li>AICC</li>
  {% for p in site.aicc %}
    <li>
        <a href="{{site.baseurl}}{{p.url}}">{{p.url}}</a>
    </li>
  {% endfor %}

  <li>APCSA</li>
  {% for p in site.apcsa %}
    <li>
        <a href="{{site.baseurl}}{{p.url}}">{{p.url}}</a>
    </li>
  {% endfor %}

  <li>WD</li>
  {% for p in site.wdarchive %}
    <li>
        <a href="{{site.baseurl}}{{p.url}}">{{p.url}}</a>
    </li>
  {% endfor %}

  <li>GD</li>
  {% for p in site.gdarchive %}
    <li>
        <a href="{{site.baseurl}}{{p.url}}">{{p.url}}</a>
    </li>
  {% endfor %}

</ul>
