---
layout: default
title: Sitemap
---
Sitemap
<ul>
  {% for p in site.pages %}
    <li>
      {% if p.url == '/' %}
        <a href="{{site.baseurl}}/index.html">/index.html</a>
      {% else %}
        <a href="{{site.baseurl}}{{p.url}}">{{p.url}}</a>
      {% endif %}
    </li>
  {% endfor %}
  {% for p in site.posts %}
    <li>
      {% if p.url == '/' %}
        <a href="{{site.baseurl}}/index.html">/index.html</a>
      {% else %}
        <a href="{{site.baseurl}}{{p.url}}">{{p.url}}</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
