a: link {
  text-decoration: none;
  font-weight: 100 !important;
  /* font-size: 15pt; */
  font-size: 150%;
  color:#1E90FF!important;
}

.bg-image-1 {
  background-image: url("images/prog.jpg");
}

.bg-image-2 {
  background-image: url("images/webd.jpg");
}

.bg-image-3 {
  background-image: url("images/gamed.jpg");
}

.bg-image-4 {
  background-image: url("images/apcs.jpg");
}

body {
  font-weight: 100 !important;
	background: #000000;
	font-size: 1.3rem !important;
	font-family: 'Roboto', 'Verdana','Arial', sans-serif;
  color:#ffffff!important;
}

.card{
	border-color: #888888;
	border-radius: 10px;
  box-shadow: 1px 1px 5px #444;
	overflow: hidden;
  background: none;
}

details {
  transition: 1s;
}

div.bg-white {
  border-radius: 10px;
}

div.navbar-nav.navbar-center, div.navbar-header-center {
  margin-left: 50%;
  transform: translateX(-50%);
}

div#navBar {
  height: 80px;
  border-radius: 0px;
  border-bottom: thick solid;
  border-color: #555555;
}

div#navBar img {
  -webkit-filter: drop-shadow(1px 1px 0px gray);
  /* Safari 6.0 - 9.0 */
  filter: drop-shadow(1px 1px 0px gray);
}

.font-weight-100 {
  font-weight: 100 !important;
}

.footer{
	margin-bottom: 0 !important;
}

.grid-container {
  display: grid;
  grid-gap: 20px 20px;
  grid-template-columns: auto auto;
}

header {
  height: 80px;
}

.hero-image {
  min-height: 400px;
  /*min-width: 1200px;*/
  min-width: 0;
  /* background: transparent;
	background-color: rgba(5, 5, 255, 0.2); */
  text-align: center;
  padding-top: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.7;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
  /* background: rgba(55, 55, 255, 0.3) /* Blue background with 30% opacity */
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px black;
}

h2 {
  text-shadow: 2px 1px black;
}
.PageNavigation{
  width:100%!important;
}
.panel {
  /* padding: 0 18px; */
  background-color: #FFFFFF;
  display: none;
  overflow: hidden;
}
pre,code{
  font-size: .9rem !important;
  font-weight: 100 !important;
  color:#3A2EFF!important;
}
section {
  padding: 25px 0px 35px 0px;
}

.text-large {
  font-size: 150%;
  font-weight: 100 !important;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  h1,h2 {
    font-size:2rem!important;
  }
}
@media only screen and (min-width: 768px) {
  /* For tablet & desktop: */
  h1 {
    font-size:4rem;
  }
  h2 {
    font-size:3rem;
  }
}

/* .parallax-mirror {
  top: 80px;
  opacity: .7;
} */

/* .paraHead {
  font-size: 6.5em;
  color: #000000;
  font-weight: 100 !important;
  letter-spacing: 40px;
} */



/*
a{
color: rgb(0,0,140);
text-decoration: none;
}

/* unvisited link */



/* visited link */

/* a: visited {
color: rgb(50,0,140);
text-decoration: none;
font-weight: 400;
} */

/* mouse over link */

/* a: hover {
color: rgb(0,0,140);
text-decoration: underline;
} */

/* selected link */

/* a: active {
color: rgb(255,100,100);
text-decoration: underline;
} */
