/* Palette URL: http://paletton.com/#uid=73-0u0kuu++iA+toB+XMn+VZCJw */

.color-primary-0 { color: #A8D4FF }	/*a:link*/ /* Main Primary color */
.color-primary-1 { color: #75BAFD } /*pre*/
.color-primary-2 { color: #49A6FF }
.color-primary-3 { color: #0986FF }
.color-primary-4 { color: #0169CE }

.color-secondary-1-0 { color: #7498BF }	/*a:hover*/ /* Main Secondary color (1) */
.color-secondary-1-1 { color: #867FFE }
.color-secondary-1-2 { color: #6057FF }
.color-secondary-1-3 { color: #1E10FF }
.color-secondary-1-4 { color: #0D01D5 }

.color-secondary-2-0 { color: #FFC60C }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFDC6B }
.color-secondary-2-2 { color: #FFD13B }
.color-secondary-2-3 { color: #FFC300 }
.color-secondary-2-4 { color: #FFC300 }

.color-complement-0 { color: #FF9C0C }	/* Main Complement color */
.color-complement-1 { color: #FFC36B }
.color-complement-2 { color: #FFAF3B }
.color-complement-3 { color: #FF9700 }
.color-complement-4 { color: #FF9700 }
body {
  font-weight: 300 !important;
	background: #102036 !important;
	font-size: 1.4rem !important;
  font-family: 'Roboto Condensed', sans-serif;
	/* font-family: 'Jolly Lodger','Roboto Condensed', 'Verdana','Arial', sans-serif; */
  color:#ffffff!important;
}
a{
  /* font-family: 'Griffy', sans-serif; */
	color:#A8D4FF;
  /* color: #FF9700; */
}
a:link{
  text-decoration: none;
  /* font-family: 'Griffy', sans-serif; */
  font-weight: bold !important;
  font-weight: 700 !important;
  /* font-size: 15pt; */
  color:#A8D4FF;
  /* color: #FF9700; */
}
a:hover{
  text-decoration: underline;
  /* font-size: 15pt; */
  color:#7498BF;
  /* color:#4e0550; */
}
a.nav-link:link{
  color:rgba(255,255,255,.5);
}
a.nav-link:hover{
  color:rgba(255,255,255,1);
}
.anchorHeading{
  display:none;
}
.anchorHeading:hover{
  display:block;
}
.bg-image-1 {
  background-image: url("images/prog.jpg");
}

.bg-image-2 {
  background-image: url("images/webd.jpg");
}

.bg-image-3 {
  background-image: url("images/gamed.jpg");
}

.bg-image-4 {
  background-image: url("images/apcs.jpg");
}



.card{
	border-color: #888888;
	border-radius: 10px;
  box-shadow: 1px 1px 5px #444;
	overflow: hidden;
  background: none;
}

details {
  transition: 1s;
}

div.bg-white {
  border-radius: 10px;
}

div.navbar-nav.navbar-center, div.navbar-header-center {
  margin-left: 50%;
  transform: translateX(-50%);
}

div#navBar {
  height: 80px;
  border-radius: 0px;
  border-bottom: thick solid;
  border-color: #555555;
}



div#navBar img {
  -webkit-filter: drop-shadow(1px 1px 0px gray);
  /* Safari 6.0 - 9.0 */
  filter: drop-shadow(1px 1px 0px gray);
}

.font-weight-300 {
  font-weight: 300 !important;
}

.footer{
	margin-bottom: 0 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.grid-container {
  display: grid;
  grid-gap: 20px 20px;
  grid-template-columns: auto auto;
}

header {
  height: 80px;
}

.hero-image {
  min-height: 400px;
  /*min-width: 1200px;*/
  min-width: 0;
  /* background: transparent;
	background-color: rgba(5, 5, 255, 0.2); */
  text-align: center;
  padding-top: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.7;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
  /* background: rgba(55, 55, 255, 0.3) /* Blue background with 30% opacity */
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px black;
}
h1.project-title{
  /* font-family: 'Creepster',sans-serif; */
  /* background: #007bff; */
  /* background: #1E90FF; */
  background: #0169CE;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 25px;
}
h1[id]{
  border-top: solid #888888 5px;
  margin-top:150px;
  padding-top:100px;
}
/* h1{
  font-family: 'Creepster',sans-serif;
  transition: 2s;
} */
h2 {
  /* font-family: 'Nosifer',sans-serif; */
  text-shadow: 1px 1px grey;

}
/* h2,h3,h4{
  font-family: 'Nosifer',sans-serif;
  transition: 2s;
} */
h2[id],h4[id]{
  margin-top:75px;
  padding-top:75px;
}
h3, h4 {
  text-transform: capitalize;
  /* font-size: 1.2rem!important; */
}


.iframe_container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 - this is responsive by adjusting the hight according to the width! */
	padding-top: 25px;
	height: 0;
}

.iframe_container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



img{
  max-width: 500px !important;
}
nav.navbar{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.navbg{
  background-color:rgba(52, 58, 64, 0.95)!important;
}
.PageNavigation{
  width:100%!important;
}
.panel {
  /* padding: 0 18px; */
  background-color: #FFFFFF;
  display: none;
  overflow: hidden;
}
pre{
  font-weight: 100 !important;
  /* color:#75BAFD!important; */
  color:#DDDDDD !important;
  white-space:pre-wrap!important;
  background:#002040;
  padding:30px 4px 30px 40px;
  border-radius: 10px;
}
.row{
  margin-right:0 !important;
  margin-left:0 !important;
}
section {
  padding: 25px 0px 35px 0px;
}
.fine-print{
  font-size:60% !important;
}
.smaller{
  font-size: 70%;
  font-weight: 100;
}
.sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 90px;
  padding-top: -90px;
}
table{
  margin-bottom: 15px;
}
td{
  border:solid #888888 1px;
  padding:15px;
}
.text-large {
  font-size: 150%;
  font-weight: 300 !important;
}
.trinket_container {
	position: relative;
	/* padding-bottom: 56.25%; /* 16:9 - this is responsive by adjusting the hight according to the width! */
	/*padding-top: 25px; */
	height: 900px;
}
.trinket_container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-width: @screen-md-min) < 992px {
  /* For small tablets and mobile phones: */
  h1,h2 {
    font-size:2rem!important;
  }
  pre,code{
    font-size: .65rem !important;
    white-space:pre-wrap!important;
  }
}
@media (min-width: @screen-md-min) >= 992px {
  /* For tablet & desktop: */
  h1 {
    font-size:4rem;
  }
  h2 {
    font-size:3rem;
  }
  pre,code{
    font-size: .85rem !important;
    white-space:pre-wrap!important;
  }
  /* pre{
    border: solid 1px #75BAFD;
    padding: 7px;
    border-radius: 10px;
    white-space:pre-wrap!important;
  } */
}
/*
snow stuff
.switch {
position: relative;
display: inline-block;
width: 32px;
height: 16px;
margin:0px !important;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 12px;
width: 12px;
left: 2px;
bottom: 2px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(16px);
-ms-transform: translateX(16px);
transform: translateX(16px);
}
*/

/* Rounded sliders */
/*.slider.round {
border-radius: 16px;
}

.slider.round:before {
border-radius: 50%;
}
.snowflake {
    position: absolute;
    z-index: 100;
    display: block;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-image: -webkit-radial-gradient(
        center,
        circle farthest-corner,
        rgba(255, 255, 255, .5) 20%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: -moz-radial-gradient(
        center,
        circle farthest-corner,
        rgba(255, 255, 255, .5) 20%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: -ms-radial-gradient(
        center,
        circle farthest-corner,
        rgba(255, 255, 255, .5) 20%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: radial-gradient(
        center,
        circle farthest-corner,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0) 100%
    );
}

#snow {
    position: fixed;
    top:0;
    left:0;
    padding:3px;
    width: 100%;
    height:1px;
    z-index: 11111;
} */
