<div class="container-fluid">
  <div class="jumbotron footer bg-dark text-white">
    <!-- HAPPY HALLOWEEN -->
    <!-- <div class="container small"> -->
      <p class="small m-5 p-5">
        <small class="small fine-print">


          <a href="https://bradleycodeu.github.io/rec">Recommendations</a><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
          I should probably figure out what to put down here.<br>
          For legal entities, "You" or "Your" includes any entity which controls, is controlled by, or is under common control with, You, where "control" means (i) the power, direct or contributory patent infringement, then this takes effect immediately upon announcement. If you do not refer to this License will be given a distinguishing version number. The Program (including its Contributions) under the terms of this Agreement. Except as expressly stated herein.<br>
          Original Code as defined by Sections 1 and 2 automatically terminate your rights with two steps: (1) copyright the software, or if you were not aware of such noncompliance. If all Recipient's rights under this License or (ii) a license under a proprietary license of Your Externally Deployed Modifications must be made available in that instance. Effect of Termination. In the event of the following in a manner that reasonably allows subsequent Recipients to identify the originator of the Work. Except when otherwise stated in this license agreement.<br>

  Specifically, we want to import text under the terms and conditions of this License. If You distribute must include a copy of this Agreement shall terminate as of the Agreement under which you contribute, and which you distribute, wherever you describe the origin or ownership of more than your cost of all Contributors all liability for damages, including direct, indirect, special, incidental and consequential damages, such as lost profits; iii) states that any problems introduced by others will not be used in 48 C.F.R. C.F.R. 12.212 and 48 C.F.R. U.S. Government End Users. The Covered Code under the terms of this License which applies to text developed by the Initial Developer or such Contributor under this Agreement.<br>
          Finally, any free program will individually obtain patent licenses, in effect beyond the termination of this License (which you may do only in order to qualify, an Indemnified Contributor may elect to distribute the Derivative Works, you may do only in ways that could have legal implications and, worse, cause problems for the physical act of running the Program). Whether that is based on it. Application of License.
        </small>
      </p>
    <!-- </div> -->
  </div>
</div>
<!-- Halloween stuff begins -->
<!-- <script>
  let h1Array = document.getElementsByTagName("h1");
  let h2Array = document.getElementsByTagName("h2");
  let h3Array = document.getElementsByTagName("h3");
  let h4Array = document.getElementsByTagName("h4");
  let letters = "ABCDEF";
  setInterval(()=>{
    for(let i=0;i<h1Array.length;i++){
      h1Array[i].style.marginLeft=Math.floor(Math.random()*50)+"px";
      h1Array[i].style.color="#"+letters[Math.floor(Math.random() * 6)]+letters[Math.floor(Math.random() * 6)]+letters[Math.floor(Math.random() * 6)];
    }
    for(let i=0;i<h2Array.length;i++){
      h2Array[i].style.marginLeft=Math.floor(Math.random()*50)+"px";
      h2Array[i].style.color="#"+letters[Math.floor(Math.random() * 6)]+letters[Math.floor(Math.random() * 6)]+letters[Math.floor(Math.random() * 6)];
    }
    for(let i=0;i<h3Array.length;i++){
      h3Array[i].style.marginLeft=Math.floor(Math.random()*50)+"px";
      h3Array[i].style.color="#"+letters[Math.floor(Math.random() * 6)]+letters[Math.floor(Math.random() * 6)]+letters[Math.floor(Math.random() * 6)];
    }
    for(let i=0;i<h4Array.length;i++){
      h4Array[i].style.marginLeft=Math.floor(Math.random()*50)+"px";
      h4Array[i].style.color="#"+letters[Math.floor(Math.random() * 6)]+letters[Math.floor(Math.random() * 6)]+letters[Math.floor(Math.random() * 6)];
    }

  },5000);
</script> -->
<!-- Halloween stuff ends -->
<!-- <script>
  // snow stuff
var isSnowEnabled;
if (localStorage.getItem("isSnowEnabled") === null) {
  isSnowEnabled = true;
}else{
  isSnowEnabled = localStorage.getItem("isSnowEnabled") === "true";
  setBrandName()
}
document.getElementById("snowCheckbox").checked = isSnowEnabled;
var flakes = []
var flakesTotal = Math.floor(100*(Date.now()-1575774414164)/1210000000*Math.random()+100*(Date.now()-1575774414164)/1210000000*Math.random());
var wind = Math.random()-.5;
var mouseX;
var mouseY;
var clickcount = 0;

function toggleFlakes(){
  isSnowEnabled = !isSnowEnabled;
  localStorage.setItem("isSnowEnabled", isSnowEnabled);
  setBrandName()
}
function setBrandName(){
  if(isSnowEnabled){
    document.getElementById("brandName").innerHTML = "❄️Bradley❄️Code❄️U❄️"
  }else{
    document.getElementById("brandName").innerHTML = "BradleyCodeU"
  }
}
class Snowflake {
    constructor(size, x, y, vx, vy) {
        this.size = size;
        this.x = x;
        this.y = y;
        this.initialY = y;
        this.vx = vx;
        this.vy = vy;
        this.hit = false;
        this.melt = false;
        this.div = document.createElement('div');
        this.div.classList.add('snowflake');
        this.div.style.width = this.size + 'px';
        this.div.style.height = this.size + 'px';
    }

    move() {
        if (this.hit) {
            if (Math.random() > 0.995) this.melt = true;
        } else {
            this.x += this.vx + Math.min(Math.max(wind, -10), 10);
            this.y += this.vy;
        }
        // Wrap the snowflake to within the bounds of the page
        if (this.x > window.innerWidth + this.size) {
            this.x -= window.innerWidth + this.size;
        }

        if (this.x < -this.size) {
            this.x += window.innerWidth + this.size;
        }

        if (this.y > window.innerHeight + this.size) {
            this.x = Math.random() * window.innerWidth;
            this.y -= window.innerHeight + this.size * 2;
            this.melt = false;
        }
        // var dx = mouseX - this.x;
        // var dy = mouseY - this.y;
        // this.hit = !this.melt && dx * dx + dy * dy < 2400;
    };

    draw() {
        this.div.style.transform =
        this.div.style.MozTransform =
        this.div.style.webkitTransform =
            'translate3d(' + this.x + 'px' + ',' + this.y + 'px,0)';
    };

    static update() {
        for (var i = flakes.length;  i--;) {
            var flake = flakes[i];
            if(isSnowEnabled){
              flake.move();
              flake.draw();
            }else{
              flake.y = flake.initialY;
              flake.draw();
              //flakes.splice(i,1);
            }
        }
        requestAnimationFrame(Snowflake.update);
    }

    static init(container) {
        flakes = [];
        for (var i = flakesTotal; i--; ) {
            var size = (Math.random() + 0.4) * 6 + 1;
            var flake = new Snowflake(
                size,
                Math.random() * window.innerWidth,
                -Math.random() * window.innerHeight-100,
                Math.random() - 0.5,
                size * 0.3
            );
            container.appendChild(flake.div);
            flakes.push(flake);
        }
    Snowflake.update();
    }
}

window.onload = function() {
  setTimeout(function() {
    Snowflake.init(document.getElementById("snow"));
  }, 100);
}

</script> -->
