<div class="container-fluid fixed-top">
  <!-- <div class="jumbotron bg-dark text-white">
    <h1>Bradley Code U</h1>
    <small>Learner, teacher, reader, writer, gifted coordinator, ed tech geek, music ed evangelist</small> -->

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="/">
        <h3>
          🎃👻👺Bradley😰💀🤡CodeU😱👽👹
        </h3>
      </a>
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNav" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNav">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          {% if page.url == "/" %}
            <!-- <li class="nav-item active text-white"> -->
          {% else %}
            <!-- <li class="nav-item text-light"> -->
          {% endif %}
            <!-- <a class="nav-link" href="{{site:baseurl}}/index.html">
              <h3>Home</h3>
            </a>
          </li> -->
          {% if page.url contains "/wd/" %}
            <li class="nav-item active text-white">
          {% else %}
            <li class="nav-item text-light">
          {% endif %}
            <a class="nav-link" href="/wd/">
              <h3>Web Design</h3>
            </a>
          </li>

          {% if page.url contains "/apcsp/" or page.collection == "apcsp" %}
            <li class="nav-item active text-white">
          {% else %}
            <li class="nav-item text-light">
          {% endif %}
            <a class="nav-link" href="/apcsp/">
              <h3>APCSP</h3>
            </a>
          </li>


          {% if page.url contains "/gd/" %}
            <li class="nav-item active text-white">
          {% else %}
            <li class="nav-item text-light">
          {% endif %}
            <a class="nav-link" href="/gd/">
              <h3>Game Design</h3>
            </a>
          </li>

          {% if page.url contains "/apcsa/" %}
            <li class="nav-item active text-white">
          {% else %}
            <li class="nav-item text-light">
          {% endif %}
            <a class="nav-link" href="/apcsa/">
              <h3>APCSA</h3>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  <!-- </div> -->
</div>
