<!-- <div class="container text-white"> -->
  <p id="windowLocation" class="display3 text-secondary">Study Game</p>
  <div class="form-group text-white">
    <p id="questionText" class="font-weight-light display-5">
      Question Text
    </p>
    <select id="dropdown" class="form-control" onchange="checkAnswer(this.value)">
      <option class="display-5" id="pick">pick one:</option>
      <option class="opt display-5"></option>
      <option class="opt display-5"></option>
      <option class="opt display-5"></option>
      <option class="opt display-5"></option>
      <option class="opt display-5"></option>
      <option class="opt display-5"></option>
    </select>
  </div>
<!-- </div> -->
