<!-- <div class="container text-white"> -->
  <p id="windowLocation" class="display3">Study Game</p>
  <div class="form-group text-white">
    <p id="questionText" class="font-weight-light">
      Question Text
    </p>
    <select id="dropdown" class="form-control" onchange="checkAnswer(this.value)">
      <option id="pick">pick one:</option>
      <option class="opt"></option>
      <option class="opt"></option>
      <option class="opt"></option>
      <option class="opt"></option>
      <option class="opt"></option>
      <option class="opt"></option>
    </select>
  </div>
<!-- </div> -->
