<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="text-capitalize"><a href="/{{page.collection}}/#{{page.category}}">{{page.category}} Unit</a></h5>
      <small class="small">
        {% assign unit = site.data.units | where:"title",page.category %}
        {{ unit[0].content | markdownify }}
      - = - = -
      {% capture thisfile %}{{page.collection}}_{{page.category}}.md{% endcapture %}
      {% capture str_include %}
        {% include {{thisfile}} %}
      {% endcapture %}
      {{ str_include | markdownify }}
      </small>

    </div>
  </div>
</div>
