<div class="container">
  <div class="card">
    <div class="card-body">

      {% if {{ include.size }} == "small" %}
        <h4>{{page.category}} Unit</h4>
        <small class="small">
      {% endif %}
      {% capture s_include %}
        {% include apcsp_{{page.category}}.md %}
      {% endcapture %}
      {{ s_include | markdownify }}

      -=-=-=-=-=-

      {% if page.category == "scratch" %}
          {% capture s_include %}
            {% include apcsp_scratch.md %}
          {% endcapture %}
          {{ s_include | markdownify }}

      {% elsif page.category == "py" %}
        <h4>Py Unit</h4>
        <small class="small">
          {% capture s_include %}
            {% include apcsp_py.md %}
          {% endcapture %}
          {{ s_include | markdownify }}
        </small>

      {% elsif page.category == "binary" %}

      {% elsif page.category == "turtleart" %}
        <h4>Turtle Art Unit</h4>
        <small class="small">
          {% capture my_include %}
            {% include apcsp_turtleart.md %}
          {% endcapture %}
          {{ my_include | markdownify }}
        </small>

      {% elsif page.category == "ip" %}
      {% elsif page.category == "scrum" %}

      {% elsif page.category == "console" %}
          {% capture my_include %}
            {% include apcsp_console.md %}
          {% endcapture %}
          {{ my_include | markdownify }}


      {% elsif page.category == "bigdata" %}
      {% elsif page.category == "explore" %}
      {% elsif page.category == "textgames" %}
      {% elsif page.category == "digitalinfo" %}
      {% elsif page.category == "turtlegames" %}
      {% elsif page.category == "tk" %}
      {% elsif page.category == "create" %}
      {% elsif page.category == "greenfoot" %}
      {% elsif page.category == "java" %}
      {% endif %}

      {% if {{ include.size }} == "small" %}
        </small>
      {% endif %}

    </div>
  </div>
</div>
