/* CSS files add styling rules to your content */

body {
  font-family: verdana, helvetica, arial, sans-serif;
  font-weight: 100;
  margin: 2em;
  transition: background-color 0.2s;
}

h1 {
  color: #555;

  text-align:center;
  text-shadow: 1px 1px #000055;
}
p, select, option{
  font-size:2.2rem !important;
}
img{
  max-height: 350px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
