html,
body {
  margin: 0;
  font-family: sans-serif;
  padding: 10px;
}
canvas {
  display: block;
}
pre {
  font-size:30px;
}
label {
  display: block;
  margin-top: 8px;
}
input[type="range"] {
  width: 100%;
}
output {
  font-weight: bold;
}
canvas {
  border: 1px solid #ccc;
  margin-top: 12px;
}
.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: none;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
